version: 2
jobs:
  build:

    working_directory: ~/icarus

    docker:
      - image: circleci/openjdk:8-jdk-stretch

    steps:

      - checkout

      - restore_cache:
          keys:
            - m2-{{ checksum "pom.xml" }}
            - m2-

      - run: (echo "${google_application_credentials}" > /tmp/gcp.json) && mvn -Pdeb,rpm,cloudTests clean install -DoutputDirectory=/tmp/artifacts

      - save_cache:
          paths:
            - ~/.m2
          key: m2-{{ checksum "pom.xml" }}

      - store_test_results:
          path: ~/icarus/target/surefire-reports

      - store_artifacts:
          path: /tmp/artifacts

      - persist_to_workspace:
          root: /tmp/artifacts
          paths:
            - "icarus*.jar"
            - "icarus*.rpm"
            - "icarus*.deb"

  publish-github-release:
    docker:
      - image: circleci/golang
    steps:
      - attach_workspace:
          at: ./artifacts
      - run:
          name: "Publish Release on GitHub"
          command: |
            set -xue
            go get github.com/tcnksm/ghr
            ghr -t ${GITHUB_TOKEN} -u ${CIRCLE_PROJECT_USERNAME} -r ${CIRCLE_PROJECT_REPONAME} -c ${CIRCLE_SHA1} -delete ${CIRCLE_TAG} ./artifacts/

workflows:
  version: 2
  build:
    jobs:
      - build:
          filters:
            tags:
              only: /^icarus-\d+\.\d+\.\d+$/
      - publish-github-release:
          requires:
            - build
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^icarus-\d+\.\d+\.\d+$/
